body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

/* .App, .login , .signup{
  max-height: max-content;
  max-width:max-content
} */

.main{
  /* height:calc(500px - 50px); */
  color:aqua
}

label{
  font-size:small;
  font-weight:600;

}



@media(max-width:1024px ) {
  .signup{
    top:10px;
    margin-inline: 5%;
    height: 58%;
    
  }
  .login{
    margin-inline: 10%;
  }
}
@media(max-width:1024px) and (min-width: 800px ) {
  .signup,.login{
 
    top:190px;
    margin-inline: 5%;
    height: 60%;
    
  }
  .login{
    margin-inline: 10%;
  }

}

@media(max-width:500px){

  .signup{
  
   width:90vw;
    flex-direction: column-reverse;
    align-items: center;
  /* margin-top:0; */
  
    
  }
  .login{
    /* width:90vw; */
    /* flex-direction: column-reverse; */
    height:max-content;
    width:max-content;
  }

  .img-section{
    height:55%;
    width:80vw;
    /* top:3%;
    left:3%; */
  }
  .sign-section{
    width:70vw;
    top:-9%;
  }

}

@media (max-width:300px){

  .signup,.login{
   
    height:max-content;
    width:max-content;
  }

  .sign-section{
    top:0%;
  }
}