body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

.App{
  max-height: max-content;
}

.main{
  /* height:calc(500px - 50px); */
  color:aqua
}

label{
  font-size:small;
  font-weight:600;

}

.img-section{
  /* background-image:url(D:\WebDev_DOT\React_2\studyapp\src\Images\grid-net.png); */
  

}